apiVersion: apps/v1
kind: Deployment
metadata:
  name: swarm
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: swarm
        image: {{ .Values.image }}
        ports:
        - containerPort: 8000
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: swarm-hpa
spec:
  scaleTargetRef:
    kind: Deployment
    name: swarm
  minReplicas: 3
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50